<footer class="center">
  <div class="measure">
    <a href="{{ site.baseurl }}/{{ site.vcard }}"><img id="qrcode" <style="#qrcode::after { content: "{{ site.vcard_message }}"; background-color: #000000; color: #FFFFFF; padding-bottom:1em; padding-right:-1em; }" src="{{ site.qrcard }}" width="75" height="75" alt="{{ site.vcard_message }}" /></a>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
