<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <div class="site-title"><a href="http://altenburger-pr.de">{{ site.author }}<img src="{{ site.logo }}" style="margin-left: 7px; margin-right: 5px;">{{ site.profession }}</a></div>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
